[user]
	name = {{ extracted_name }}
	email = {{ email }}
[init]
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	submodule = log
[alias]
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	llast = log -1 --pretty=%B
[submodule]
	recurse = true
[status]
	submodulesummary = 1
