[user]
	name = {{ extracted_name }}
	email = {{ email }}
[init]
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	submodule = log
[alias]
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	llast = log -1 --pretty=%B
	cne = commit --amend --no-edit
	amfp = "!f() { \
		gr=${1:-$(git remote | head -n 1)}; \
		gb=$(git rev-parse --abbrev-ref HEAD); \
		git cne -a && git push -f \"${gr}\" \"${gb}\"; \
	}; f"
	tff = "!f() { \
		terraform fmt -recursive ${1:-..}; \
	}; f"
[submodule]
	recurse = true
[status]
	submodulesummary = 1
